Repository unb-mds/2024-2-Squad07, pull requests merged in 2024-12, with the labels that each got.

#28 doc: Atualiza o documento de requisitos
  docs/Requisitos/Levantamento.md
  docs/Requisitos/image.png
Labels: documentation

#29 Criação de variáveis independentes no arquivo bot_Twitter.py
  Bots/bot_Twitter.py
  bot_Twitter.py
  data.json
  teste.py
Labels: BOT

#30 feat: atualiza o mapa para carregar todas as obras
  TestesMapa/js/map.js
Labels: tarefa

#31 Adiciona integração com Cohere e Tweepy para envio automatizado de tweets
  Bots/bot_Twitter.py
Labels: BOT

#34 Atualizando readme v1.0.1 e documentação de arquitetura
  README.md
  docs/Arquitetura/Arquitetura.md
Labels: documentation, Arquitetura
